<div id="back-img">
    <footer>
        <div id="link">

        </div>
        
        <div id="social">
            <h2 data-aos="flip-left">CROP Pvt ltd</h2>
            <ul>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_1_Facebook_colored_svg_copy_5296499.png">
                </li>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_2018_social_media_popular_app_logo_instagram_3225191.png">
                </li>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_1_Linkedin_unofficial_colored_svg_5296501.png">
                </li>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_1_Pinterest_colored_svg_5296503.png">
                </li>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_1_Twitter3_colored_svg_5296516.png">
                </li>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_112-gmail_email_mail_4202011.png">
                </li>
                <li data-aos="zoom-in" data-aos-offset="0">
                    <img src="../../../../../../../assets/social media icons/iconfinder_152_Google_Play_4519086.png">
                </li>
            </ul>
        </div>
    </footer>
</div>
