<div id="back-img" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col ">
                <div class="content">
                    <div class="textBox">
                        <h2 data-aos="fade-right">Cash Return On payment</h2>
                        <div class="container-fluid" data-aos="fade-right">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi illum magni quisquam,
                                quibusda
                            </p>
                        </div>
                        <a href="products" >Start Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>