<div id="heading"data-aos="fade-up" >
<h1>Contact US</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quaerat repellat enim .</p>
</div>
<div id="main">
    <div id="social"data-aos="fade-right">
        <ul>
            <li>
                <h2>Address:</h2>
                <p>Hno:50,Rishi East City Bhel Bhopal</p>
            </li>
            <li>
                <h2>Eamil Id:</h2>
                <p>nihilkd@gmail.com</p>
            </li>
            <li>
                <h2>Phone No:</h2>
                <p>8770610878</p>
            </li>
        </ul>
    </div>
    <div class="contactForm" data-aos="fade-right">
        <form>
            <h2>Send Message</h2>
            <div class="inputBox">
                <input type="text" name="" required="required">
                <span>Full Name</span>
            </div>
            <div class="inputBox">
                <input type="text" name="" required="required">
                <span>Email</span>
            </div>
            <div class="inputBox">
                <textarea required="required"></textarea>
                <span>Type your Message.....</span>
            </div>
            <div class="inputBox">
                <input type="submit" name=""value="Send">
            </div>
        </form>
    </div>
</div>