#back-img {
    background-color: #cccccc;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#heading h1{
    color: #1f04b9;
    font-size:3.5rem;
    text-align: center;
    justify-content:center;
    line-height:1.2em;
    font-weight: 700;
    margin-bottom: 2%;
    padding-left: 2%;
    padding-top:10%;
}

#heading p{
    font-size:1.2rem;
    color: black;
    width: 100%;
    text-align:center;
    font-weight: bolder;
    justify-content: center;
    margin-bottom: 5%;
    font-weight: bold;
}

#social ul{
    margin-top: 23%;
}
#social ul li{
    padding: 10px;
    list-style: none;
}
#social ul li h2{
    font-family: "COUTUREBold";
    font-size:1.6rem;
    color: #1f04b9;
}
#social ul li p{
    font-family: "COUTUREBold";
    font-size:0.9rem;
}
#social {
    margin-left: 10%;
}
#main{
    display:flex;
    flex-direction: row;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
  }
  
  .contact .content1 {
    max-width: 800px;
    text-align: center;
  }
  
  .contact .content1 h2 {
    font-size: 46px;
    font-weight: 500;
    color: #fff;
    font-family: "Oswald", sans-serif;
  }
  .contact .content1 h2:hover {
    color: #3c08f7;
  }
  .contact .content1 p {
    font-weight: 300;
    color: #fff;
    font-family: "Acme", sans-serif;
    font-size: 20px;
  }
  .container1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .container1 .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .container1 .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  .container1 .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  }
  .container1 .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
    font-family: "Acme", sans-serif;
  }
  .container1 .contactInfo .box .text h3 {
    font-weight: 500;
    color: #3c08f7;
    font-family: "COUTUREBold";
    font-size: 20px;
  }
  
  .contactForm {
    width: 26%;
    padding: 40px;
    background: black;
    margin-left: 36%;
  }
  .contactForm h2 {
    font-family: "COUTUREBold";
    font-size:1.6rem;
    margin-bottom: 7%;
    color: white;
  }
  .contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 4px solid #3c08f7;
    outline: none;
    resize: none;
  }
  .contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span {
    color: #ffffff;
    font-size: 16px;
    font-style: italic;
    font-family: "COUTUREBold";
    transform: translateY(-30px);
  }
  
  .contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #3c08f7;
    font-style: italic;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 8px;
    font-weight: bolder;
  }
  
  .icon img {
    width: 58px;
  }
  .contactForm .inputBox input[type="submit"]:hover {
    background-color: #08b3f7;
  }

  @media (min-width: 768px) and (max-width:991.98px){
    #social{
        margin-left:3%;
    }
    #heading p{
        width: 70%;
        margin-left: 16%;
    }
    .contactForm {
        width: 40%;
        padding: 40px;
        background: black;
        margin-left: 8%;
    }

  }
  @media (min-width: 453px) and (max-width:767.98px){
    #social{
        margin-left: 11%;
    }
    #heading p{
        width: 70%;
        margin-left: 16%;
    }
    #main{
        flex-direction: column;
    }
    .contactForm {
        width: 70%;
        margin-left: 18%;
    }
    #heading h1{
        padding-top:20%;
    }
}


@media (min-width: 425px) and (max-width:452.98px){
    #social{
        margin-left: 11%;
    }
    #heading h1{
        font-size: 2.5rem;
        padding-top:12%;
    }
    #heading p{
        width: 70%;
        margin-left: 16%;
        font-size:1rem;
    }
    #social ul li h2{
        font-size:1.3rem;
    }
    #main{
        flex-direction: column;
    }
    .contactForm {
        width: 70%;
        margin-left: 18%;
    }
    #heading h1{
        padding-top:20%;
    }
    #social ul{
        margin-top:10%;
    }
    .contactForm .inputBox input:focus ~ span,
    .contactForm .inputBox input:valid ~ span,
    .contactForm .inputBox textarea:focus ~ span,
    .contactForm .inputBox textarea:valid ~ span {
      color: #ffffff;
      font-size: 13px;
      font-style: italic;
      font-family: "COUTUREBold";
      transform: translateY(-25px);
    }
}

@media (min-width: 320px) and (max-width:424.98px){
    #social{
        margin-left: 6%;
    }
    #heading h1{
        font-size: 2.5rem;
        padding-top: 25%;
    }
    #heading p{
        width: 70%;
        margin-left: 16%;
        font-size:1rem;
    }
    #social ul li h2{
        font-size:1.3rem;
    }
    #main{
        flex-direction: column;
    }
    .contactForm {
        width: 70%;
        margin-left: 18%;
    }
    #social ul{
        margin-top:10%;
    }
    .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span {
    color: #ffffff;
    font-size: 11px;
    font-style: italic;
    font-family: "COUTUREBold";
    transform: translateY(-25px);
  }
}